.left-sidebar {
    position: fixed;
    width: 232px;
    height: 900px;
    top: 0;
    left: 0;
    background-color: #282828;
}

.left-container {
    display: flex;
    align-items: center;
}

.table-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 132px;
}

.clock-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 180px;
}

.check-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 228px;
}

.instructors-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 276px;
}

.note-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 324px;
}

.setting-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 808px;
}

.logout-icon {
    color: white;
    position: fixed;
    left: 24px;
    top: 856px;
}

.overview-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 133px;
    width: 142px;
    height: 18px;
}

.upcoming-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 181px;
    width: 142px;
    height: 18px;
}

.grades-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 229px;
    width: 142px;
    height: 18px;
}

.instructors-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 277px;
    width: 142px;
    height: 18px;
}

.notes-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 325px;
    width: 142px;
    height: 18px;
}

.setting-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 809px;
    width: 142px;
    height: 18px;
}

.logout-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    position: fixed;
    left: 56px;
    top: 857px;
    width: 142px;
    height: 18px;
}
