/* Estilos del contenedor principal */
.ant-carousel {
    background-color: black !important;
    position: absolute;
    width: 44.79%;
    height: 26.85%;
    left: 27.49% !important;
    top: 25.22% !important;
    border: 1px solid #000000;
    border-radius: 20px;
}

/* Estilos de los elementos internos */
.slick-slide {
    color: white;
}

/* Estilos del elemento activo */
.slick-active {
    color: white;
}

/* Estilos de las flechas de navegación */
.slick-prev,
.slick-next {
    color: white;
}

/* Estilos de los puntos indicadores */
.slick-dots {
    color: black;
}

.slick-active {
    color: white;
    /* Agrega estilos para el punto indicador activo aquí */
}
