.home-username {
    color: black;
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    top: 11.11%;
    left: 4.38%;
}

.home-discover {
    color: black;
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    left: 4.38%;
    top: 54.89%;
}