.user-container img {
  display: flex;
  position: fixed;
  border-radius: 200%;
  width: 20.83%;
  height: 33.33%;
  left: 4.31%;
  top: 16.67%;
}

.user-container h1 {
  position: fixed;
  top: 26.56%;
  left: 37%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.user-line {
  position: fixed;
  top: 35%;
  left: 27%;
  width: 25%;
  border: 1px solid black;
}

.button-container button:nth-of-type(1){
  position: fixed;
  left: 4.31%;
  top: 76.44%;
  width: 15.82%;
  height: 10.89%;
  border-radius: 20px;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.button-container button:nth-of-type(2){
  position: fixed;
  left: 24.31%;
  top: 76.44%;
  width: 15.82%;
  height: 10.89%;
  border-radius: 20px;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}