.my-data {
  display: flex;
  position: absolute;
  top: 13.93%;
  left: 10.84%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.my-data-line {
  display: flex;
  position: absolute;
  top: 21.5%;
  left: 8.7%;
  width: 12%;
  border: 1px solid black;
}

.form-container {
  display: flex;
  position: absolute;
  top: 40%;
  left: 1%;
}

.form-container input:nth-of-type(1) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 10%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(2) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 40%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(3) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 70%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(4) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 62.38%;
  left: 25%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(5) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 62.38%;
  left: 55%;
  width: 20%;
  height: 4.11%;
}

.form-container p:nth-of-type(1) {
  position: fixed;
  left: 10%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(2) {
  position: fixed;
  left: 40%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(3) {
  position: fixed;
  left: 70%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(4) {
  position: fixed;
  left: 25%;
  top: 53.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(5) {
  position: fixed;
  left: 55%;
  top: 53.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(6) {
  position: fixed;
  left: 79%;
  top: 18%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.plus-icon {
  position: fixed;
  top: 20.46%;
  left: 76.04%;
  width: 2.2%;
  height: 3.25%;
}

.form-container button {
  box-sizing: border-box;
  position: fixed;
  left: 43%;
  right: 41.11%;
  top: 82%;
  bottom: 9.44%;
  background: #000000;
  border: 1px solid #000000;
  width: 15%;
  border-radius: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.avatar-popup {
  box-sizing: border-box;
  position: absolute;
  width: 45.5%;
  height: 50%;
  left: 30%;
  top: 30%;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 7px;
}
.avatar-popup input[type='file'] {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.fileLabel {
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 10%;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fileLabel span {
  font-size: 14px;
}

.fileLabel:hover {
  background-color: #f0f0f0;
}

.avatar-popup p {
  position: absolute;
  top: 25%;
  left: 5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.avatar-popup img {
  position: absolute;
  top: 40%;
  left: 28%;
  height: 50%;
  border-radius: 100%;
}