.my-data {
  display: flex;
  position: absolute;
  top: 13.93%;
  left: 10.84%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.my-data-line {
  display: flex;
  position: absolute;
  top: 21.5%;
  left: 8.7%;
  width: 12%;
  border: 1px solid black;
}

.form-container {
  display: flex;
  position: absolute;
  top: 40%;
  left: 1%;
}

.form-container input:nth-of-type(1) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 10%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(2) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 40%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(3) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 40.38%;
  left: 70%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(4) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 62.38%;
  left: 25%;
  width: 20%;
  height: 4.11%;
}

.form-container input:nth-of-type(5) {
  position: fixed;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  top: 62.38%;
  left: 55%;
  width: 20%;
  height: 4.11%;
}

.form-container p:nth-of-type(1) {
  position: fixed;
  left: 10%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(2) {
  position: fixed;
  left: 40%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(3) {
  position: fixed;
  left: 70%;
  top: 32%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(4) {
  position: fixed;
  left: 25%;
  top: 53.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form-container p:nth-of-type(5) {
  position: fixed;
  left: 55%;
  top: 53.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.plus-icon {
  position: absolute;
  top: -10%;
}