body {
  background-color: #161616;
}

.header {
  background-color: #282828;
  position: fixed;
  width: 856px;
  height: 78px;
  text-align: center;
  left: 232px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  position: relative;
  color: #FFFFFF;
  font-size: 28px;
  left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  align-items: center;
}

.container input[type='text'] {
  display: flex;
  width: 308px;
  height: 36px;
  position: fixed;
  left: 610px;
  top: 15px;
}

input[placeholder='Search for courses'] {
  padding-left: 30px;
  background: #161616;
  color: white;
  border-color: black;
}

.search-icon {
  color: white;
  position: fixed;
  left: 620px;
  top: 29px;
  z-index: 999;
}

.bell-icon {
  color: white;
  position: fixed;
  left: 980px;
  top: 28px;
}

.mail-icon {
  color: white;
  position: fixed;
  left: 1012px;
  top: 28px;
}

.comment-icon {
  color: white;
  position: fixed;
  left: 1043px;
  top: 28px;
}