.search-courses {
    display: flex;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(26.5px);
}